body {
	background-color: rgb(230,230,230);
}

h1 {
	color: #F9F900;
	font-size: 10em;
	text-align: center;
}

a {
	text-align: center;
	font-size: 2em;
	font-family: Georgia, Garamond, serif;
	color: #A4A400;
}